# 맥북 사용자용 인덱스 파일
.DS_Store

# 파이썬 컴파일된 결과 파일
__pycache__/
*.pyc

# 5.Project 내 output 폴더 내 항목 제거
**/output/*

# 6.Flask 내 upload 폴더 내 항목 제거
**/uploads/*

# JS - Naver로 DOM 제어 숙제 파일 - naver.html
3.JS/2.Event/naver.html