<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 페이지</title>
</head>
<body>
    {% if user %}
        <h2>안녕하세요, {{ user.nickname }}님!</h2>
        {% if user.profileimg %}
            <img src="{{ user.profileimg }}" width="100">
        {% endif %}
        <p>
            <a href="{{ url_for('modify') }}">회원정보 수정</a> | 
            <a href="{{ url_for('logout') }}">LOGOUT</a>
        </p>
    {% endif %}

    <!-- 강사님 코드 -->
    <!-- {# <h1>내 프로필</h1>
    <p>닉네임: {{ user.properties.nickname }}</p>
    <p>이메일: {{ user.properties.email or '이메일 정보는 안주었음' }}</p>
    <p>사진: {{ user.properties.profile_image }} </p>

    {% if user.properties.profile_image %}
        <img src="{{ user.properties.profile_image }}" style="width: 200px;">
    {% endif %} #} -->
</body>
</html>