<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>User Information</h1>
    <form>
        <input type="text" name="name" placeholder="Search user">
        <input type="submit" value="Search">
        <!-- <button type="submit">Search</button> -->
    </form>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Phone</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{user['name']}}</td>
            <td>{{user['age']}}</td>
            <td>{{user['mobile']}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>