<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 이쁘게 사용자를 출력한다 -->
    {% if page %}
        <h1>Page {{ page }}</h1>
        {% if page and page|int > 1 %}
        <!-- <a href="/?page={{page|int-1}}">Previous</a> page_getparam -->
        <a href="/page/{{page|int-1}}">Previous</a> <!-- page_urlparam -->
        {% endif %}
        {% if page and 11 > page|int + 1 %}
        <!-- <a href="/?page={{page|int+1}}">Next</a> page_getparam -->
        <a href="/page/{{page|int+1}}">Next</a> <!-- page_urlparam -->
        {% endif %}
    {% else %}
        <h1>All Users</h1>
    {% endif %}
    <ul>
        {% for u in users %}
        <li>{{ u.id }} - {{ u.name }} ({{ u.age }}세, {{ u.phone }})</li>
        {% endfor %}
    </ul>
</body>
</html>